@import "tailwindcss";

@theme inline {
  --color-*: initial;
  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);
  --color-accent-3: var(--accent-3);
  --color-accent-4: var(--accent-4);
  --color-accent-5: var(--accent-5);
  --color-accent-6: var(--accent-6);
  --color-accent-7: var(--accent-7);
  --color-accent-8: var(--accent-8);
  --color-accent-9: var(--accent-9);
  --color-accent-10: var(--accent-10);
  --color-accent-11: var(--accent-11);
  --color-accent-12: var(--accent-12);
  --color-neutral-1: var(--neutral-1);
  --color-neutral-2: var(--neutral-2);
  --color-neutral-3: var(--neutral-3);
  --color-neutral-4: var(--neutral-4);
  --color-neutral-5: var(--neutral-5);
  --color-neutral-6: var(--neutral-6);
  --color-neutral-7: var(--neutral-7);
  --color-neutral-8: var(--neutral-8);
  --color-neutral-9: var(--neutral-9);
  --color-neutral-10: var(--neutral-10);
  --color-neutral-11: var(--neutral-11);
  --color-neutral-12: var(--neutral-12);
  --color-black: #151515;
  --color-white: #ffffff;
}

:root {
  --accent-1: #fcfdff;
  --accent-2: #f5f9ff;
  --accent-3: #eaf2ff;
  --accent-4: #dcebff;
  --accent-5: #cbe1ff;
  --accent-6: #b8d4ff;
  --accent-7: #9fc2fb;
  --accent-8: #7baaf6;
  --accent-9: #3b82f6;
  --accent-10: #2c74e9;
  --accent-11: #256cde;
  --accent-12: #123164;
  --neutral-1: #fbfcfe;
  --neutral-2: #f8f9fd;
  --neutral-3: #edf0f6;
  --neutral-4: #e4e8f0;
  --neutral-5: #dce1eb;
  --neutral-6: #d4dae5;
  --neutral-7: #c8cfdd;
  --neutral-8: #b3bcce;
  --neutral-9: #858ea0;
  --neutral-10: #7b8494;
  --neutral-11: #5e6572;
  --neutral-12: #1c202a;
}

.dark {
  --accent-1: #0b111c;
  --accent-2: #101825;
  --accent-3: #122647;
  --accent-4: #123061;
  --accent-5: #1a3c74;
  --accent-6: #244985;
  --accent-7: #2f589a;
  --accent-8: #3868b8;
  --accent-9: #3b82f6;
  --accent-10: #2e75e8;
  --accent-11: #85b5ff;
  --accent-12: #d0e2ff;
  --neutral-1: #111113;
  --neutral-2: #19191b;
  --neutral-3: #222325;
  --neutral-4: #292a2e;
  --neutral-5: #303136;
  --neutral-6: #393a40;
  --neutral-7: #46484f;
  --neutral-8: #5f606a;
  --neutral-9: #6c6e79;
  --neutral-10: #797b86;
  --neutral-11: #b2b3bd;
  --neutral-12: #eeeef0;
}
